// Colors
$red: #F06060;
$dark-red: #be4856;

$green: #2ECC71;
$dark-green: #17954c;

$blue: #4593e3;
$dark-blue: #226fbe;

$gray: #999;
$lighter-gray: #E6E6E6;
$light-gray: #CCC;
$dark-gray: #373737;
$white: white;

$tray-radius : 4px;
$tray-width : 310px;
$tray-height : 219px;

$tray-triangle-height: 8px;
$tray-triangle-width : 20px;

$tray-header-height : 33px;
$tray-footer-height : 37px;
